<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Add Files</title>
</head>
<body>

  <div class="container">
    <h2>Add File</h2>
    <hr/>
    <form th:action="@{/saveFile}" enctype="multipart/form-data" method="post" modelAttribute="fileToSave">
      <div class="form-group">


        <input type="text" name="mainFieldOfInterest" placeholder="Institutia de provenienta"><br/><br/>

        <input type="text" name="secondaryFieldOfInterest" placeholder="Tipul documentului"><br/><br/>

        <input type="text" name="registrationNumber" placeholder="Numar de inregistrare"><br/><br/>

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="file">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>

      </div>
      </div>
      <button class="btn btn-dark text-white" type="submit">Upload</button>
    </form>
    <hr/>
    <a th:href="@{/files}">Back to Files</a>
  </div>

</body>
</html>